<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.6.3.js') }}"></script>
</head>

<body>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    
    <div class="container">
        <div class="content">
            <div class="item item-left">
            </div>
        </div>
        <div class="input-area">
            <textarea name="text" id="textarea" onkeydown="userSendByEnter(event)"></textarea>
            <div class="button-area">
                <button id="send-btn" onclick="userSend()">发 送</button>
            </div>
        </div>
    </div>
</body>

</html>